AWSTemplateFormatVersion: '2010-09-09'
Description: 'SSM parameter to store Terraform backend configuration'

Parameters:
  ProjectName:
    Type: String
    Description: Name of the project
    Default: terraform-core-aws
  
  Organization:
    Type: String
    Description: Name of the organization
    Default: faccomichele
  
  Environment:
    Type: String
    Description: Environment/Workspace (dev, stg, prod)
    AllowedValues:
      - dev
      - stg
      - prod
    Default: dev
  
  StateBucketName:
    Type: String
    Description: Name of the S3 bucket for Terraform state
  
  StateRoleArn:
    Type: String
    Description: ARN of the IAM role for Terraform state access
  
  Region:
    Type: String
    Description: AWS Region

Resources:
  BackendConfigurationParameter:
    Type: AWS::SSM::Parameter
    Properties:
      Name: /terraform-core/backend_configuration_hcl
      Description: Backend configuration in HCL format for copy-paste into other Terraform configurations
      Type: String
      Tier: Advanced
      Value: !Sub |
        terraform {
          backend "s3" {
            bucket        = "${StateBucketName}"
            key           = "CHANGE_ME/terraform.tfstate"
            region        = "${Region}"
            assume_role = {
              role_arn      = "${StateRoleArn}"
            }
            encrypt       = true
            use_lockfile  = true
          }
        }
      Tags:
        Project: !Ref ProjectName
        Organization: !Ref Organization
        Environment: !Ref Environment
        RepositoryURL: !Sub 'https://github.com/${Organization}/${ProjectName}'
        Automation: CloudFormation
        RepositoryPath: '.'
        RepositoryFile: cloudformation/nested/ssm-backend-config.yaml
        Name: /terraform-core/backend_configuration_hcl
        Description: Backend configuration in HCL format for copy-paste into other Terraform configurations

Outputs:
  ParameterName:
    Description: Name of the SSM parameter storing the backend configuration
    Value: !Ref BackendConfigurationParameter
    Export:
      Name: !Sub '${AWS::StackName}-ParameterName'
  
  ParameterValue:
    Description: Backend configuration in HCL format
    Value: !GetAtt BackendConfigurationParameter.Value
